body{
    font-family: Trebuchet MS;
    background-color: #2c61a7c9; 
}

button{
   background-color: aqua;
   color: #000000;
   padding: 15px 2px;
   min-width: 150px;
   justify-content: center;
   margin: 20px auto; 
   font-weight: 300; 
   border-style: none; 
   border-radius: 10px; 
   margin: auto;
   border: 1px solid #000000;
   box-shadow: 0 0 1px #00FFFF, 0 0 20px #00FFFF, 0 0 20px;
}
table {
    width: 90%;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    background-color: #FFFFFF;
    border-collapse: collapse;
    border-radius: 2px;  
  
}
th, td {
    text-align: left;
    padding: 20px;
    color: #212121;
    text-transform: capitalize; 
}
tr:nth-child(even){
    background-color: #8397da8e;
}
th {
    background-color: #6c7381;
    color: rgb(241, 234, 234);
    font-size: 18px;
    font-weight: 400;
    text-align: left;
}

/*  BARRA PARA SELECCIONAR*/
select{
    height: 50px;
    background-color: #FAFAFA;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 3px;
    padding: 10px;
    margin: auto;
}

