body{
    font-family: Trebuchet MS;
    background-color: #a8c7dbf1;
}
.contenedor{
    height: 60px;
    background-color: rgba(28, 25, 221, 0.445);
    border: 1px solid;
    border-radius: 10px;
    padding: 10px;
    margin: auto; 
    left: 10px;
}
button{
    background-color: rgba(0, 0, 0, 0.575);
   color: #ffffff;
   padding: 15px 2px;
   min-width: 150px;
   justify-content: center;
   margin: 20px auto; 
   font-weight: 300; 
   border-style: none; 
   border-radius: 10px; 
   margin: auto;
   border: 1px solid #000000;
  box-shadow: 0 0 1px #00FFFF, 0 0 20px #00FFFF, 0 0 20px; 
  animation: shadow-pulse 1000ms 1;
  background-color: #20e2d7;
  color: #434343;
}
hr{
    border: 0;
    border-top: 4px solid rgb(58, 57, 92);
}



